/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	
}

/* ----- zde začni psát vlastní CSS ----- */
.herobanner {
	background-image: url(images/pozadi.jpg);
	background-size: cover;
	min-width:450px ;
	color:white;
	padding-top:30px;
	position: relative;
	padding-bottom: 30px;
    }

     h1{
	font-size:90px;
	font-weight: 400;
	margin:0px;
	margin-left:30px;
	
    }
	h2{
		color: #48418e;
		font-weight: 700;
	}
	
	.herobanner p{
		font-size: 36px;
		font-weight: 300;
		margin:0px;
		margin-top: 20px;
		margin-bottom:20px;
		margin-left: 30px;
		
	}
	

.menu li{
	display: inline-block;
	padding-top:30px;
	padding-bottom: 0px;
	
}
.menu a {
	text-align: center;
	padding:0px 30px;
	text-decoration: none;
	color: #25133d;
	background-color:white;
}
.menu ul{
	list-style: none;
	
}
.menu a:hover{
	background-color: #48418e;
	color: white;
  padding-bottom:20px;
  padding-top:33px;
	
}
.herobanner img {
	width:320px;
	position: absolute;
	bottom:0%;
	right:0%;
}

  .tlacitko1 a, .tlacitko2 a{
    color: white;
	text-decoration: none;
	}
	
 .tlacitko1 , .tlacitko2 {
	display:inline-block;
	font-size: 20px;
	border:1px solid white;
	border-radius: 20px;
	text-align: center;
	margin:20px;
	padding:10px;
	
	
	}

 .tlacitko1 a:hover , .tlacitko2 a:hover{
	background-color: #48418e;
	
 }


.sloupce{
	display: flex;
	text-align: center;
	margin-top: 40px;	
}
.sloupec p{
	text-align: center;
	padding:20px;
}
.sloupce img{
	width: 60px;
	text-align: center;
}


footer{
	text-align: center;
	color:white;
	padding:20px;
	background-color: #48418e;
}